<!-- [@fade]='isHidden' -->
<ion-header [@fade]='isHidden'>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!-- [style.background]="'url(' + imgURL + ')'" -->
<ion-content padding>
  <!-- [@hidden]='isHidden' -->
  <div [@hidden]='isHidden'>
    <h2>Welcome to Ionic!</h2>
    <p>
      This starter project comes with simple tabs-based layout for apps
      that are going to primarily use a Tabbed UI.
    </p>
    <p>
      Take a look at the <code>src/pages/</code> directory to add or change tabs,
      update any existing page or create new pages.
    </p>
    <li *ngFor='let event of calData.cachedTodayEvents'>
      {{ event.name }}
    </li>
    <ion-slides padding>
      <ion-slide>
        <h1>{{s1}}</h1>
        <button ion-button block (click)='syncCal();'>Sync Calendar</button>
        <button ion-button block (click)='clearCache();'>Clear Cache</button>
        <li *ngFor='let event of calData.cachedTodayEvents'>
          {{ event.name }}
        </li>
      </ion-slide>
      <ion-slide>
        <h1>{{s2}}</h1>
      </ion-slide>
      <ion-slide>
        
      </ion-slide>
    </ion-slides>
    
  </div>
</ion-content>
