/*
 * Jesus Fonts!
 */
@font-face {
    font-family: 'BenjaminFont';
    src: url('../fonts/geometricslabserif703boldbt.eot') format('embedded-opentype'), 
         url('../fonts/geometricslabserif703boldbt.woff') format('woff'), 
         url('../fonts/geometricslabserif703boldbt.ttf') format('truetype'), 
         url('../fonts/geometricslabserif703boldbt.svg#geometricslabserif703boldbt5942f8f8b47f4') format('svg');
}

p {
    margin: 0;
}

/*
 * Other Stuff
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}

.hidden {
    display: none;
}

/*
 * Background CSS
 * Displays the image and fancy gradient thingy
 * Making the top of the app all pretty pretty
 */

/* Global Background CSS */
.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 48vh;
    width: 100vw;
    transition: height 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Background Image */
.background.image {
    background-image: url("../images/background.jpg");
    position: fixed;
    z-index: -1;
}

/* Background Trancperency Gradient */
.background.shader {
    background-image: url("../images/gradient.png");
    position: absolute;
}

/*
 * Top Content CSS
 * Styles the text that shows the important nonsense that we actually
 * launched the app for
 * e.g: A
 *      Period 3
 */

/* Global Top Section Text CSS */
.topText {
    font-family: "BenjaminFont"; /* Benjamin, this is for you */
    color: white;
    margin: 0;
}

/* Text positioning */
.topCont {
    padding-left: 5vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Upper Text (A) */
.topText.up {
    font-size: 12vh;
}

/* Lower Text (Period 3) */
.topText.low {
    font-family: 'Montserrat', sans-serif;
    font-size: 6vh;
}

/*
 * Bottom Content CSS
 * Styles erethang else
 * Should be pretty messy
 */

/* Content Positioning */
.botCont {
    background-color: #EFEFEF;
    height: 200vh;
    position: absolute;
    top: 48vh;
    transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Time Left Bar */
.centerBar {
    background-color: #636363;
    width: 100vw;
}

/* Positioning for Sub-Bar Elements */
.bar {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Button Thingy, with Push Animation */
.fab {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .14), 0 4px 5px rgba(0, 0, 0, .1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 300ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 600ms linear;
    background-color: #D0C6F8;
    opacity: 1;
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
    float: right;
    left: -10vw;
    z-index: 99;
}
.fab:active {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .4), 0 4px 7px 0 rgba(0, 0, 0, .1);
    background-color: #bfb6e4;
}

/* Time Left Text */
.timeText {
    text-transform: capitalize;
    font-family: "BenjaminFont"; /* Benjamin, this is also for you */
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vh;
    color: white;
    margin-left: 5vw;
    padding-top: 1.5vh;
}

/* Bottom UI Menu */
#menuBar {
    width: 100vw;
    height: 5vh;
    table-layout: fixed;
}

.menuRow {
    text-align: center;
}

.menuText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.5vh;
    color: white;
}

#menuWrap {
    width: 100vw;
    height: 4px;
    margin-top: -4px;
    margin-bottom: 0.8vh;
}

#menuLine {
    height: 4px;
    background-color: white;
    box-shadow: 0 1px 6px #777;
}

/* Global Graphic positioning, puts everything on a giant page side by side */

#content {
    width: 200vw;
    display: block;
}

.wrap {
    width: 100vw;
    display: block;
    float: left;
}

#wrapper {
    width: 100vw;
    list-style: none;
    overflow-x: hidden;
}

/* Schedule Graphic */
.table {
    width: 100vw;
    height: 40vh;
    border-collapse: collapse;
}

.leftCell {
    border-right: 2px solid red;
    width: 25vw;
    text-align: center;
    margin: 0;
}

.left.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.left.low {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.left.up {
    margin-top: 0.5vh;
}

.rightCell.text {
    font-family: 'Montserrat', sans-serif;
    margin-left: 4vw;
    font-size: 6vh;
}

/* Events graphic */
.evText {
    font-family: 'Montserrat', sans-serif;
    margin-left: 4vw;
    margin-top: 1vw;
    color: gray;
    font-size: 3vh;
    font-weight: 300;
}

/* Bottom Pullup Animation */
.botCont.start {
    transform: translateY(48vh);
}

/* Bottom Button Fade Animation*/
.fab.start {
    opacity: 0;
}

/* Top Slide Animation */
.background.start {
    height: 100vh;
}