/*
 * Jesus Fonts!
 */
@font-face {
    font-family: 'BenjaminFont';
    src: url('../fonts/geometricslabserif703boldbt.eot') format('embedded-opentype'), 
         url('../fonts/geometricslabserif703boldbt.woff') format('woff'), 
         url('../fonts/geometricslabserif703boldbt.ttf') format('truetype'), 
         url('../fonts/geometricslabserif703boldbt.svg#geometricslabserif703boldbt5942f8f8b47f4') format('svg');
}

p {
    margin: 0;
}

/*
 * Other Stuff
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}

.hidden {
    display: none;
}

/*
 * Background CSS
 * Displays the image and fancy gradient thingy
 * Making the top of the app all pretty pretty
 */

/* Global Background CSS */
.background {
    position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    transition: height 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Background Image */
    .background.image {
        /*background-image: url("../images/background.jpg");*/
        /*background-image: url('https://imgur.com/download/YjfZHY1');*/
        z-index: -1;
    }

/* Background Trancperency Gradient */
.background.shader {
    /* TODO: Replace with image
    background-image: url("../images/gradient.png");
    */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
}

/*
 * Top Content CSS
 * Styles the text that shows the important nonsense that we actually
 * launched the app for
 */

/* Global Top Section Text CSS */

/* Background Text (A) */
.backText {
    font-family: "BenjaminFont"; /* Benjamin, this is for you */
    color: white;
    font-size: 170vw;
    opacity: 0.5;
    position: fixed;
    bottom: -20vh;
    left: -22vw;
}

/* Lower text wrapper stuff (for fancy animation) */
#textWrap {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 75.5vh;
    left: 5vw;
}

/* Period Text (Period 3) */
.periodText {
    font-size: 8vh;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5vh;
}

/* Time Left Text */
.timeText {
    text-transform: capitalize;
    font-size: 7vw;
    color: white;
}

/* Menu Button CSS */
#sideButton {
    position: fixed;
    z-index: 10; /* If there ever was a feature of CSS that clearly had good intentions, this would be it */
    background-image: url("../images/navicon.png");
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.15vh;
    height: 2.2vh;
    padding: 3.25vh 5vw 3.25vh 5vw;
}

/* Top Menu Bar CSS */
#topBar {
    /* Stick it off the screen so the slider can bring it back */
    position: fixed;
    left: 100vw;
    height: 8.7vh;
    width: 100vw;
    background-color: #636363;
    z-index: 9; /* sigh */
}

#barText {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 5vw;
    text-transform: capitalize;
    line-height: 8.7vh;
    position: absolute;
    left: 16vw;
}

/*
 * Bottom Bar CSS
 * Styles the menu slider bar thingy
 * at the bottom of the screen
 */

/* Whole bar CSS */
#menuBar {
    table-layout: fixed;
    background-color: #636363;
    width: 100vw;
    height: 7vh;
    position: fixed;
    top: 93vh;
}

/* Text stuff */
.menuRow {
    text-align: center;
}

.menuText {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 4.5vw;
    color: white;
}

/* Wrapper and CSS for line indicator */
#menuWrap {
    width: 100vw;
    position: fixed;
    top: 99.5vh;
    background-color: #636363;
}

#menuLine {
    width: 33.3vw;
    height: 0.5vh;
    background-color: white
}

/* 
 * Slidy Thingy CSS
 * Attempts to put a bunch of pages all side by side
 * Then allows you to swipe between them
 */

/* Wrapper div, aka the viewport */
.js_frame {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Content div, contains all the elements we want to scroll through */
.js_slides {
    /* Width must be adjusted to fit content */
    position: fixed;
    top: 8.7vh;
    width: 400vw;
    white-space: nowrap;
    overflow: hidden;
}

/* wrap div, CSS for each content item */
.js_slide {
    width: 100vw;
    height: 84.3vh;
    float: left;
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
}

/* special full slide CSS */
.content {
    background-color: white;
}

/**
 * Side Menu CSS
 * CSS which styles the left side menu activited by the button in the top right
 * Won't have any affect on HTML until javascript loads the menu in
 * Also will be based on my UIItem Framework somehow
 * Also Lory for sliding fancyness
 */

/* Sidemenu frame div */
.SMFrame {
    position: fixed;
    width: 70vw;
    height: 100vh;
    overflow: hidden;
    z-index: 99;
}

/* Shadow effect div */
.SMShadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
}

/* Sidemenu content div */
.SMCont {
    position: fixed;
    width: 170vw;
    height: 100vh;
    white-space: nowrap;
    transform: translateX(-70vw);
}

/* Generic slide CSS */
.SMSlide {
    width: 70vw;
    height: 100vh;
    float: left;
}

/* Blank slide CSS */
.blank {
    width: 100vw;
}

/* Actual Side Menu CSS */
#sideMenu {
    background-color: #EFEFEF;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.2);
}

/* Header of side menu CSS */
.SMHead {
    width: 100%;
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/WHS.jpg");
}

/* Text in header CSS */
.SMTopText {
    position: relative;
    top: 14.5vh;
    left: 5vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 5vw;
}

/* List of buttons in sidemenu CSS */
/* Global item list CSS */
.SMItems {
    font-family: 'Open Sans', sans-serif;
}

/* Individual item CSS */
.SMItem {
    background-size: 4vh 4vh;
    background-position-x: 5vw;
    background-position-y: 1.5vh;
    background-repeat: no-repeat;
    width: 70vw;
    min-height: 7vh;
    display: flex;
    align-items: center;
    transition: background-color 250ms linear;
}

/* Text in individual item CSS */
.SMItemText {
    font-size: 4vw;
    margin-left: 18vw;
}

/* Bottom section of menu CSS */
.SMBot {
    position: absolute;
    bottom: 0;
}

/* quote CSS */
.quote {
    margin-left: 4vw;
    color: gray;
    font-weight: 600;
    font-size: 3.5vw;
    font-style: italic;
    width: 65vw;
    white-space: normal;
    overflow-wrap: break-word;
}

/*
 * Schedule and events CSS
 * We'll see how this goes
 */

/* Header CSS */
.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    margin-left: 5vw;
    margin-top: 1.6vh;
    margin-bottom: 1vh;
}

/* 
 * Schedule Graphic CSS
 * CSS to be used with a template generated later
 * by the javascript
 * Should display a nice schedule graphic once generated
 */

/* Whole row CSS */
.justRow {
    width: 100vw;
    min-height: 10vh;
    display: flex;
    align-items: stretch;
}

/* Left cell with times CSS */
.leftCell {
    width: 30vw;
    display: flex;
    align-items: center;
}

.incep {
    /* My apologies for crappy centering hack */
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Open Sans', sans-serif;
    margin-right: 4.5vw;
    text-transform: uppercase;
}

.leftUp {
    margin-bottom: 0.6vh;
    font-weight: 400;
    font-size: 4vw;
}

.leftLow {
    color: gray;
    font-size: 3.5vw;
}

/* Right Cell CSS */
.rWrap {
    display: flex;
    align-items: center;
}

/* Name Text */
.rText {
    margin-left: 4.5vw;
    margin-top: -0.25vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vh;
}

/* eventually needed */
.smallRText {
    font-size: 5vh;
}

/* Inline Event Row CSS */
.eventCol {
    vertical-align: top;
}

.evWrap {
    margin-bottom: 1.25vh;
    margin-left: 4.5vw;
    margin-top: -0.75vh;
}

/* Regular Event Row CSS */
.evRow {
    width: 100vw;
    min-height: 8vh;
    display: flex;
    align-items: stretch;
}

/* Small Event Row CSS */
.evSmall {
    min-height: 4vh;
}

/* This is in addition to evText */
.evRight {
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    margin-bottom: 0.5vh;
    margin-left: 4.5vw;
}

/**
 * Global button effect CSS
 */

.bTouch {
    transition: background-color 1s linear;
    background-color: lightgrey;
}

/**
 * Imitation HTML Toast CSS
 * Will serve as my error handler
 * As opposed to bringing up a stack extange search every time
 */

.tHidden {
    position: fixed;
    top: 100vh;
    width: 100vw;
    height: 3vh;
    z-index: 999;
    background-color: #333;
    padding: 3vh 4.5vw 2.65vh 4.5vw;
    transition: transform 300ms cubic-bezier(0.1, 0.57, 0.1, 1);
}

.tShown {
    transform: translateY(-8.65vh);
}

.tText {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    color: white;
}

/* Please remove */
.benjamin {
    font-family: 'Open Sans', sans-serif;
    margin-left: 5vw;
    font-size: 5.5vw;
}