/*
 * Jesus Fonts!
 */
@font-face {
    font-family: 'BenjaminFont';
    src: url('../fonts/geometricslabserif703boldbt.eot') format('embedded-opentype'), 
         url('../fonts/geometricslabserif703boldbt.woff') format('woff'), 
         url('../fonts/geometricslabserif703boldbt.ttf') format('truetype'), 
         url('../fonts/geometricslabserif703boldbt.svg#geometricslabserif703boldbt5942f8f8b47f4') format('svg');
}

/*
 * Other Stuff
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}

/*
 * Background CSS
 * Displays the image and fancy gradient thingy
 * Making the top of the app all pretty pretty
 */

/* Global Background CSS */
.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45vh;
    width: 100vw;
    transition: height 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Background Image */
.background.image {
    background-image: url("../images/background.jpg");
    position: fixed;
    z-index: -1;
}

/* Background Trancperency Gradient */
.background.shader {
    background-image: url("../images/gradient.png");
    position: absolute;
}

/*
 * Top Content CSS
 * Styles the text that shows the important nonsense that we actually
 * launched the app for
 * e.g: A
 *      Period 3
 */

/* Global Top Section CSS */
.top {
    
}

/* Global Top Section Text CSS */
.top.text {
    font-family: "BenjaminFont"; /* Benjamin, this is for you */
    color: white;
    margin: 0;
}

/* Text positioning */
.top.cont {
    padding-left: 10vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Upper Text (A) */
.top.text.upText {
    font-size: 400%;
}

/* Lower Text (Period 3) */
.top.text.lowText {
    font-size: 150%;
}

/*
 * Bottom Content CSS
 * Styles erethang else
 * Should be pretty messy
 */

/* Global Bottom Section CSS */
.bottom {
   
}

/* Content Positioning */
.bottom.cont {
    background-color: #EFEFEF;
    height: 200vh;
    position: absolute;
    top: 44vh;
    transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Time Left Bar */
.bottom.centerBar {
    background-color: #636363;
    width: 100vw;
    height: 7vh;
}

/* Positioning for Sub-Bar Elements */
.bottom.bar {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Button Thingy, with Push Animation */
.bottom.fab {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .14), 0 4px 5px rgba(0, 0, 0, .1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 300ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 600ms linear;
    background-color: #D0C6F8;
    opacity: 1;
    border-radius: 50%;
    display: block;
    height: 64px;
    width: 64px;
    float: right;
    left: -10vw;
    z-index: 99;
}
.bottom.fab:active {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .4), 0 4px 7px 0 rgba(0, 0, 0, .1);
    background-color: #bfb6e4;
}

/* Time Left Text */
.bottom.timeText {
    font-family: "BenjaminFont"; /* Benjamin, this is also for you */
    font-size: 125%;
    color: white;
    display: inline-block;
    margin: 0;
    left: 10vw;
}

/* Schedule Graphic */
.bottom.table {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
    height: 46px;
}
.bottom.row {
    height: inherit;
}

/* Bottom Pullup Animation */
.bottom.cont.start {
    transform: translateY(49vh);
}

/* Bottom Button Fade Animation*/
.bottom.fab.start {
    opacity: 0;
}

/* Top Slide Animation */
.background.start {
    height: 100vh;
}