page-about {
    ion-card{
        background-size: cover;
        &.this-theme{
            background-image: url('/assets/img/hood.jpg');
        }

        &.that-theme{
            background-image: url('/assets/img/cup.jpg');
            background-position: center; 
         }
    }
}
