
<ion-content overflow-scroll="true">
  <!--background image object-->
  <div id="background-pic" class="background" [style.background-image]="backgroundSrc">
    <div id="shader" class="background"> </div>   
  </div>

   <!--top section text-->
  <div id="topText">
    <div id="topTextAlign">
      <h2 id="dayText" class="WHSFont">{{dayName}}</h2>
      <h1 id="periodText" class="WHSFont">{{periodName}}</h1>
    </div>
  </div>
  <!--everything else-->
  <div id="bottomContent"> 
    <button ion-fab color="secondary" large="true" id="buttonThing"><ion-icon name="settings"></ion-icon></button>
    <div id="timeLeftBar">
      <p id="timeText" class="WHSFont">{{timeLeft}}</p>
    </div>
    <div id="cards">
      <div> 
      
      </div>
      
      <ion-card *ngIf="false">
        <ion-grid class="timeTable">
          <ion-row *ngFor="let number of [1,2,2.5,3,4]; let odd=odd; let even=even;">
            <ion-col [ngClass]="{ odd: odd, even: even }">
              <p class="timeTable">Period {{number}}:</p>
            </ion-col>
            <ion-col [ngClass]="{ odd: odd, even: even }">
              <p class="timeTable">1:45-3:15</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card class="alternateCard">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-auto align-self-center class="times">
              <p>09:15</p>
              <p>03:15</p>
            </ion-col>
            <ion-col col-auto>
              <div class="line blue"> </div>
            </ion-col>
            <ion-col align-self-center>
              <p class="num">Period 3</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card class="alternateCard green">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-auto align-self-center class="times">
              <p>09:15</p>
              <p>03:15</p>
            </ion-col>
            <ion-col col-auto>
              <div class="line darkgreen"> </div>
            </ion-col>
            <ion-col align-self-center>
              <p class="num">Period 4</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card class="alternateCard white" *ngFor="let number of [6,7,8]">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-auto align-self-center class="times">
              <p>09:15</p>
              <p>03:15</p>
            </ion-col>
            <ion-col col-auto>
              <div class="line red"> </div>
            </ion-col>
            <ion-col align-self-center>
              <p class="num">Period {{number}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

     <ion-card *ngFor="let number of [0,1,2,4,3,7]">
      <button ion-item detail-none>

          <h1 class="periodNum WHSFont">Period {{number}}</h1>
          <p class="periodTime">{{time}}</p>
          <p class="periodRoom">{{room}}</p>

       </button>
      </ion-card>
    </div>

  </div>

</ion-content>
